// Global
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../../../node_modules/crds-styles/assets/stylesheets/utilities/utilities';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/forms';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/form-states';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/buttons';
@import '../../../node_modules/crds-styles/assets/stylesheets/components/typography';
@import '../../../node_modules/toastr/toastr';

// Local Styles to Components
@import '../../shared/shared.scss';


.input-group {
    width: 100%;
}
input {
    width: 100%;
    min-width: 50vw;
}
