@import "../../../node_modules/cropperjs/src/css/cropper.css";
@import "../../../node_modules/cropperjs/src/css/cropper.scss";
@import "../../../node_modules/cropperjs/src/index.scss";



/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.image-container{
  width: 400px;
  height: 300px;
}

.profile-pic-cropper__container{
   box-shadow: 4px 4px 26px -6px rgba(117,111,117,1);
   padding: 20px;
}

.cropper-point:not(.point-se){
  border-radius: 50%;
}

.cropper-bg{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}
