@import "../../../node_modules/cropperjs/src/css/cropper.css";
@import "../../../node_modules/cropperjs/src/css/cropper.scss";
@import "../../../node_modules/cropperjs/src/index.scss";



/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.image-container{
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
  position: relative;
}

.profile-pic-cropper__container{
   padding: 40px 30px 30px 30px;
   width: fit-content;
   box-shadow: 4px 4px 26px -6px rgba(117,111,117,1);
   border-radius: 5px;
}

.choose-file__container{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

input[type="file" i]{
  display: none;
}

.cropper-point{
  border-radius: 50%;
}

.cropper-bg{
  width: 400px !important;
  height: 300px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-modal{
  background: transparent !important;
}

.placeholder-img{
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.cropper-dashed.dashed-v, .cropper-dashed.dashed-h {
    display: none;
  }

.cropper-center::before, .cropper-center::after{
  background-color: #fff;
}

.cropper-center::before {
    height: 2px;
    left: -9px;
    top: 0;
    width: 20px;
}
.cropper-center::after {
    height: 20px;
    left: 0;
    top: -10px;
    width: 2px;
}

.cropper-view-box {
    outline: 4px solid #0095D9;
    outline-color: #0095D9;
}

span.cropper-point.point-e, span.cropper-point.point-n, span.cropper-point.point-w, span.cropper-point.point-s{
  display: none !important;
}

.cropper-point {
    background-color: #fff;
    height: 15px;
    opacity: 1;
    width: 15px;
}

.cropper-point.point-se {
    bottom: -9px;
    right: -9px;
}

.cropper-point.point-ne {
    right: -9px;
    top: -9px;
}

.cropper-point.point-nw {
    left: -9px;
    top: -9px;
}

.cropper-point.point-sw {
    bottom: -9px;
    left: -9px;
}

.final-image{
  width: 100px;
    height: 100px;
    position: absolute;
    top: -24px;
    right: -13px;
    z-index: 1;
    box-shadow: -2px 2px 12px -6px #666;
    border-radius: 50%;
}

#original-image{
  display: none !important;
}

.cropper-buttons__container{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    &.conceal{
      opacity: 0 !important;
    }
}

.button-icon-container{
  position: relative;
  margin: 0 5px;

  crds-button{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  crds-icon{
    position: absolute;
    top: 9px;
    left: 7px;
    z-index: 0;
  }
}
